* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}


/*

TODO:

pick a typeface
experiment with text colors
mix-blend-mode something



*/



/* ------------------------- NAV BAR ------------------------- */

#nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items:end;
  padding-top: 15px;
  padding-right: 15px;
}

#nav h1 {
  padding: 0 4px 0 4px;
  font-size: 4rem;
  letter-spacing: 5px;
  margin: 0;
  transform: skewX(-35deg);
  position: relative;
  left: -15px;
  font-family: "EB Garamond"
}

#nav-links {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 34px 0 4px;
  text-emphasis: none;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

#nav-links a {
  transform: skewX(-15deg);
  font-family: "EB Garamond";
  text-decoration: none;
}

#nav-links a:active, #nav-links a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: black;
}

/* ------------------------- ABOUT SECTION ------------------------- */

#about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  width: 100%;
  
}

#about-text {
  position: absolute;
  top: 60%;
  z-index: 1;
  padding-left: 30px;
  margin: 0;
}

#about-text p {
  padding-left: 2rem;
  font-size: 1.2rem;
  color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
}

#about-scroll {
  position: absolute;
  top: 80%;
  right: 20%;
  z-index: 1;
}

#about-scroll p{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,1)); 
}

#about-scroll hr {
  width: 1px;
  height: 400px;
  border: none;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,1));
}

#canvas {
  z-index: 0;
  
}

#about-background-text {
  font-family: "Kablammo";
  font-size: 25rem;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 5%;
  color: #bacdcd;
  filter: blur(3px);
}