* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}


body::-webkit-scrollbar { 
  display: none
}

/*

TODO:
mix-blend-mode something
*/



/* ------------------------- NAV BAR ------------------------- */

#nav {
  position: fixed;
  top: 5%;
  right: 5vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items:end;
}

#nav a {
  transform: skewX(-15deg);
  font-family: "Libre Baskerville";
  text-decoration: none;
  text-emphasis: none;
  color: black;
  font-size: 1.5rem;
}

#nav a:active, #nav a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: black;
}

/* ------------------------- ABOUT SECTION ------------------------- */

#about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  width: 100%;
  pointer-events: none 
}

#about * {
  pointer-events: none
}

#about-text {
  position: absolute;
  top: 60%;
  left: 10%;
  z-index: 1;
  margin: 0;
}

#about-text h1 {
  font-family: "Libre Baskerville";
  font-size: 3rem;
}

#about-text h2 {
  font-family: "Rubik"
}

#about-text * {
  color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
}

/*
#about-text p {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Rubik";
}
*/
#about-scroll {
  position: absolute;
  top: 70%;
  right: 20%;
  z-index: 1;
}

#about-scroll p{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
  font-family: "rubik";
  font-size: 1.5rem;
}

#about-scroll hr {
  width: 1px;
  height: 800px;
  border: none;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
}

#canvas {
  z-index: 0;
}

#about-background-text {
  font-family: "EB Garamond";
  font-size: 18rem;
  padding: 0;
  margin: 0;
  line-height: 18rem;
  position: absolute;
  left: 10%;
  top: 10vw;
  color: #cfa9a9;
  filter: blur(5px);
  white-space: nowrap;
}