* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;

}

::-webkit-scrollbar { 
  width: 0;
  display: none
}

#loading {
  background-color: #cdbaba;
  width: 100vw;
  height: 100vh;
}

/* ------------------------- NAV BAR ------------------------- */

#nav {
  position: fixed;
  top: 7vh;
  right: 7vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items:end;
}

#nav a {
  transform: skewX(-15deg);
  font-family: "Libre Baskerville";
  text-decoration: none;
  text-emphasis: none;
  color: black;
  font-size: 1.5rem;
}

#nav a:active, #nav a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: black;
}

/* ------------------------- TESTING ------------------------- */

#test, #test2 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#test {
  background-color: aquamarine;
}

#test2 {
  background-color: bisque;
}

#test h1, #test2 h1 {
  width: 100%;
  text-align: center;
  position: absolute;
}

#test h1 {
  top: 50vh;
}

#test2 h1 {
  top: 100vh;
}

/* ------------------------- ABOUT SECTION ------------------------- */
 
#about .layer1 {
  width: 100vw;
  height: 400vh;
  position: absolute;
  top: 0;
  left: 0;
}

#about .layer2, #about .layer21 {
  width: 100vw;
  height: 600vh;
  position: absolute;
  top: 0;
  left: 0;
}

#about .layer2 {
  background-color: black;
  mix-blend-mode: difference;
}

#about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  width: 100vw;
}

#about-text {
  position: absolute;
  top: 60vh;
  left: 10%;
  z-index: 1;
  margin: 0;
}

#about-text h1 {
  font-family: "Libre Baskerville";
  font-size: 4rem;
}

#about-text p {
  font-family: "Rubik";
  font-size: 1.5rem;
}

#about-scroll {
  position: absolute;
  top: 60vh;
  left: 70vw;
  z-index: 1;
}

#about-scroll p{
  font-family: "rubik";
  font-size: 1.5rem;
}

#about-scroll hr {
  width: 1px;
  height: 40vh;
  border: none;
  background-color: black;
}

#canvas {
  z-index: 0;
}

#about-background-text {
  font-family: "EB Garamond";
  font-size: 18rem;
  padding: 0;
  margin: 0;
  line-height: 18rem;
  position: absolute;
  left: 10%;
  top: 10vw;
  color: #cfa9a9;
  filter: blur(5px);
  white-space: nowrap;
}

#about-text-2 {
  height: 60vh;
  width: 60vw;
  position: absolute;
  top: 180vh;
  left: 20vw;
  background-color:cadetblue;
  z-index: 1;
}

#about-text-2-text {
  position: absolute;
  width: 100vw;
  z-index: 2;
  top: 220vh;
}

#about-text-2-text h1 {
  font-family: "Libre Baskerville";
  font-size: 4.5rem;
  position: relative;
  left: 10vw;
  margin: 0;
  transform: scaleY(2) skewX(-30deg);
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

#about-text-2-text-2 {
  position: absolute;
  width: 100vw;
  z-index: 2;
  top: 220vh;
}

#about-text-2-text-2 img {
  height: 30vh;
  transform: skewX(-5deg) scaleX(1.5);
  position: relative;
  top: 20vh;
  left: 35vh;
}

#about-text-2-text-2 p {
  font-size: 3rem;
  font-family: 'Rubik';
  color: white;
  width: 50vw;
  position: relative;
  left: 40vw;
  top: -15vh;
}

/* ------------------------- PROJECTS SECTION ------------------------- */
 
#projects {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  width: 100vw;
  background-color: darkolivegreen;
}




























/*







#about-text * {
  color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
}

/-*
#about-text p {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 70%);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Rubik";
}
*-/





/-* 
.animationWrapper {
  position: absolute;
  left: 7vw;
  top: 110%;
  overflow: visible;
  height: 80vh
}

.hoverImg {
  transition: all .5s ease-in-out;
  transform: none;
  position: relative;
  z-index: 3;
  filter: grayscale(100%) sepia(3%) saturate(3425%) hue-rotate(-46deg) brightness(92%) contrast(75%) ;
  height: 80vh
}

.card {
  background-color: black;
  height: inherit;
  width: 99.75%;
  position: absolute;
  z-index: 0;
  transition: all .5s ease-in-out;
} *-/

#e1 {
  position: absolute;
  z-index: 3;
}


#pic {
  width: 10vh;
}

.class1 {
  font: italic 13px sans-serif;
  fill: blue;
}

*/