* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
}

.layer1,
.layer2,
#main {
  will-change: transform;
}

#mobile {
  display: none;
}

html,
body,
main,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  position: fixed;
  /* position: absolute; */
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

img {
  width: 100px;
}

h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  margin: 0;
}

p {
  font-family: "Cabin";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
  line-height: 135%;
}

a,
a:active,
a:visited {
  font-family: "Cabin";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  #root * {
    display: none;
    margin: 0;
    padding: 0;
  }

  #root,
  body,
  html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f59696b7;
    overflow: hidden;
    padding: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 3rem;
  }

  #mobile h2::after {
    content: "Sorry, I didn't optimize this content for mobile. Please view on a \
				larger screen...";
  }
}
