/*----------------------------------------General Formatting----------------------------------------*/

#projectsBg {
  background-color: var(--projectsBg);
}

#projects {
  position: relative;
  z-index: 2;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#accent2 {
  position: absolute;
  z-index: 1;
  background-color: var(--projectsAccent);
  width: 1600px;
  height: 1600px;
  border-radius: 100%;
  top: 1200px;
  left: 45vw;
}

#projects > *:not(h1, .accent) {
  margin-bottom: 100px;
}

/* #projects .text,
#projects .text * {

} */

/*--------------------Projects General Formatting--------------------*/

#bp a,
#bp p {
  position: relative;
  z-index: 3;
  display: inline-block;
  font-size: 1.8rem;
}

#bp {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  max-width: 1000px;
  align-self: center;
}

#projects .bp {
  position: relative;
}

#projects .bp .text {
  position: absolute;
  top: 40%;
  z-index: 4;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#projects .bp .text p {
  white-space: nowrap;
}

#projects .bp .text a {
  padding-right: 0.75rem;
  text-decoration: underline;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-decoration-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
}

#projects .bp .backer {
  border-radius: 10px;
  background-color: var(--projectsSubBacker);
  backdrop-filter: blur(10px);
  filter: none;
  height: 250px;
  width: 80%;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#projects .bp:nth-of-type(odd) .backer {
  float: right;
}

#projects .bp:nth-of-type(even) .backer {
  float: left;
}

#projects .bp:nth-of-type(even) .text {
  right: 0;
  text-align: right;
}

#projects .bp a {
  font-size: 3rem;
}

#projects .bp:nth-of-type(odd).hover .backer {
  transform: translateX(30px);
  background-color: var(--projectsSubBackerHover);
}

#projects .bp:nth-of-type(even).hover .backer {
  transform: translateX(-30px);
  background-color: var(--projectsSubBackerHover);
}

#projects .bp:nth-of-type(odd).hover .text {
  transform: translateX(-30px);
  background-color: var(--projectsBackerHover);
}

#projects .bp:nth-of-type(even).hover .text {
  transform: translateX(30px);
  background-color: var(--projectsBackerHover);
}

#projects .bp.hover .text a {
  text-decoration-color: rgba(0, 0, 0, 1);
}

/*----------------------------------------Position Specific Formatting----------------------------------------*/

#projects h1 {
  position: absolute;
  top: -4.5rem;
  left: 250px;
}

#projects > p:nth-of-type(1) {
  float: right;
  width: 500px;
}

#bp {
  float: center;
  width: 100%;
}

#bp > p {
  margin: auto;
}

#projects > p:nth-of-type(2) {
  float: left;
  width: 40vw;
}
